:root {
  --font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --font-size: 12px;
  --text-color: rgb(255, 255, 255);
  --highlight-color: rgb(139, 36, 1);
  --nav-bg-color: rgba(233, 233, 233, 0.397);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: var(--font-family);
  text-align: center;
  font-size: var(--font-size);
}

.nav-bar {
  height: 40px;
  width: 100%;
  background-color: #97723a;
  position: fixed;
  top: 0px;
  z-index: 200;
}

.icons {
  position: absolute;
  right: 70px;
  padding: 10px;
}

.rightText {
  position: absolute;
  top: 200px;
  right: 80px;
  width: 750px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 20px;
  text-align: justify;
  z-index: 2;
  font-size: 20px;
}

.rightText h2 {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 22px;
  color: #ffcc66;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.second-page {
  height: 100vh;
  width: 100vw;
  background-image: url(./assets/backgroundImage.png);
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: -300px;
}

.UMimage {
  height: 320px;
  width: 320px;
  position: absolute;
  top: 200px;
  left: 80px;
}

.god {
  position: absolute;
  z-index: 1;
}

.god1 {
  top: 125px;
  left: 170px;
}
.god2 {
  top: 160px;
  left: 270px;
}
.god3 {
  top: 250px;
  left: 330px;
}
.god4 {
  top: 355px;
  left: 325px;
}
.god5 {
  top: 440px;
  left: 260px;
}
.god6 {
  top: 470px;
  left: 160px;
}

.leaf {
  position: absolute;
  z-index: -10;
}

.orangeLeaf1 {
  position: absolute;
  height: 350px;
  left: 240px;
  top: -40px;
  transform: rotate(20deg);
}
.greenLeaf2 {
  position: absolute;
  height: 150px;
  top: 150px;
  left: 325px;
}
.orangeLeaf3 {
  position: absolute;
  height: 400px;
  top: 120px;
  left: 330px;
}
.greenLeaf4 {
  position: absolute;
  height: 170px;
  top: 360px;
  left: 390px;
}
.orangeLeaf5 {
  position: absolute;
  height: 390px;
  top: 350px;
  left: 300px;
}
.greenLeaf6 {
  position: absolute;
  height: 290px;
  top: 470px;
  left: 290px;
  transform: rotate(-28deg);
}

/* span {
  color: var(--highlight-color);
} */

h3 {
  color: var(--text-color);
  z-index: 11;
  position: absolute;
  transition: transform 0.3s;
}

h3:hover {
  transform: scale(1.1);
  z-index: 100;
}

.Advaita {
  top: 65px;
  left: 368px;
}
.Visistadvaita {
  top: 166px;
  left: 450px;
}
.Dvaita {
  top: 270px;
  left: 515px;
}
.Dvaitadvaita {
  top: 390px;
  left: 520px;
}
.Shuddhadaita {
  top: 515px;
  left: 450px;
  z-index: 1;
}
.Achintya {
  top: 575px;
  left: 330px;
}

a {
  padding: 10px;
  display: inline-block;
  height: 100px;
  width: 100px;
}

.englishText {
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 1);
  transition: text-shadow 0.3s ease;
}
