/* Global Styles */
:root {
  --font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --text-color: white;
  --highlight-color: rgb(139, 36, 1);
  --nav-bg-color: #97723a;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: var(--font-family);
  text-align: center;
}

.nav-bar {
  height: 40px;
  width: 100%;
  background-color: var(--nav-bg-color);
  position: fixed;
  top: 0;
  z-index: 1;
}

.icons {
  position: absolute;
  right: 70px;
  padding: 10px;
}

.second-page {
  background-image: url(./assets/backgroundImage.png);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.OSimage {
  height: 357px;
  width: 357px;
  position: absolute;
  top: 190px;
  left: 80px;
  z-index: 1;
}

.leaf {
  position: absolute;
}

.orangeLeaf1 {
  height: 350px;
  width: 350px;
  left: 150px;
  top: 10px;
  transform: rotate(-25deg);
}

.greenLeaf2 {
  height: 150px;
  top: 160px;
  left: 240px;
  transform: rotate(-35deg);
}

.orangeLeaf3 {
  height: 350px;
  top: 150px;
  left: 250px;
}

.greenLeaf4 {
  height: 150px;
  top: 360px;
  left: 290px;
}

.orangeLeaf5 {
  height: 350px;
  top: 340px;
  left: 230px;
  transform: rotate(10deg);
}

.greenLeaf6 {
  height: 150px;
  top: 520px;
  left: 140px;
  transform: rotate(45deg);
}

/* span {
  color: var(--highlight-color);
} */

h3 {
  color: var(--text-color);
  position: absolute;
  transition: transform 0.3s;
}

h3:hover {
  transform: scale(1.1);
}

.Nyaya {
  top: 105px;
  left: 295px;
  z-index: 10;
}

.Vaisesika {
  top: 175px;
  left: 375px;
  z-index: 10;
}

.Sankya {
  top: 275px;
  left: 425px;
  z-index: 10;
}

.Yoga {
  top: 380px;
  left: 435px;
  z-index: 10;
}

.PurvaMimamsa {
  top: 485px;
  left: 365px;
  z-index: 10;
}

.UttaraMimamsa {
  top: 562px;
  left: 252px;
  z-index: 10;
}

a {
  padding: 10px;
  display: inline-block;
  height: 100px;
  width: 100px;
}

.englishText {
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 1);
  transition: text-shadow 0.3s ease;
}
